# Only necessary if you are running the script directly with Bundled set to False.
BDO_Vulkan_API/

# Ignore build artifacts and distribution files
dist/
bdo_vulkan_manager.*/
build*/
*.zip
*.spec

# Ignore compiled Python files
__pycache__/
*.pyc
BDOVulkanUtility.exe

# Ignore virtual environment directories
.venv*/
venv*/